.App {
        display : flex;
 flex-direction : column;
 max-width : 800px;
 margin-left: auto;
 margin-right: auto;
}

.board {
        display : flex;
 flex-direction : row;
      flex-wrap : nowrap;
  width:fit-content;
   margin-left: auto;
 margin-right: auto;
        padding : 1em 2em 2em;
          border-radius : 10%;
  background-color : dimgray;
}

.column {
           display : flex;
    flex-direction : column-reverse;
         flex-wrap : nowrap;
      margin-left : 0.5em;
      margin-right : 0.5em;
}

.tile {
          width : 100%;
        margin-top : 0.5em;
        margin-bottom: 0.5em;
      min-width : 50px;
      min-height : 50px;
  border-radius : 50%;
}

.emptyTile {
  background-color : linen;
}

.redPlayerTile {
  background-color : red;
}

.yellowPlayerTile {
  background-color : yellow;
}

.column:hover{
  background-color: lightgreen;
}

.columnFull:hover{
  background-color : lightcoral;
}